#characters {
}
h1 {
    font-size: 50px;
    color: white;
}
.charBox {
    border: 3px solid green;
    margin-right: 5px;
    width: 200px;
    height: 150px;
    display: block;
    background: white;
    color: black;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}
.enemyBox {
    background-color: black;
    margin-right: 10px;
    width: 200px;
    height: 150px;
    border: 3px solid white;
    color: white;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}
body {
    clear: both;
    display: table;
    background-image: url("background.jpg");
    color: white;
    margin-left: 10px;
}
img {
    margin-top: 5px;
    width: 160px;
    height: 100px;
}
#header {
    margin-top: 10px;
}
#chosen-character {
    margin-top: 10px;
}
.enemies {
    margin-top: 20px;
}
#fight {
    margin-top: 20px;
}

#chosen-enemy {
    margin-top: 10px;
}
button{
    font-size: 15px;
    background: white;
    color: black;
    border-radius: 10px;
}
#attack {
    margin-bottom: 10px;
}